*
{
	font-family: sans-serif;
}
body
{
	margin: 0;
	padding: 0;
	/*background-color: #96f0ca;*/
	/*background: gainsboro url(../img/login_admin_bg.jpg) no-repeat fixed center;*/
}
.div
{
	position:relative;
	left: -25px;
}

.box
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*background-color: #7f8c8d;*/
	padding: 150px;
	border-radius: 10px;
	text-align: center;
	/*opacity: 54%;*/
}
.UsN
{
	border-color: black;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
	padding: 10px;

}
.pwd
{
	border-color: black;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
	padding: 10px;

}
.button
{
	border: none;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
}
.pwd{

	width: 300px;
}
.pwd:focus
{
	border-color: #3498db;
}
