<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
            background-color:cadetblue;
        }
    a{
        color: #000;
        text-decoration: none;
    }
/* 结构部分 */
    /* 头部导航栏 */
    .el-submenu [class^=el-icon-]
    {
        margin-right: -1px;
        margin-bottom: 5px;
    }
    /* 头部 */
    .el-menu--horizontal>.el-menu-item{
        height: 70px;
    }
    .el-menu--horizontal{
        height: 70px;
    }
    .head_el_menu{
        display: inline;
        width: 320px;
        height: 70px;
        position: absolute;
        right: 0px;
    }

    .el-submenu{
        width: 300px;
    }
    .el-submenu__title{
        height: 70px;
    }

    /* 头部导航栏 */
    /* 侧面导航栏 */
    .el-col-12{
        width: 15%;
    }
    .el-row{
        float: left;
    }
    .tac{
        height: 800px;
    }
    /* 侧面导航栏 */
/* 结构部分 */
/* 内容部分 */
    .transition-box {
        /* margin-bottom: 10px; */
        width: 500px;
        height: 250px;
        border-radius: 4px;
        background-color: #409EFF;
        text-align: center;
        padding: 40px 20px;
        box-sizing: border-box;
        margin-right: 20px;
        font-size: 50px;

    }
    /* 分页 */
    .el-pagination{
        height: 40px;
    }
    /* 弹窗一 */
    
    /* 弹窗二 */
    .el-dialog{
        width: 66%;
        height:50%;
    }
    .el_dialog_form2{
        /* float:right */
        /* margin: auto; */
    }
    .el-dialog__body{
        /* margin:auto; */
        padding: 0px 100px;
    }
    .el-form-item{
        width: 300px;
        height: 35px;
        display: inline-block;
    }
    .el_dialog_btn2{
        position: relative;
        left: 830px;
        top: 0px;
    }
    .el-textarea__inner{
        height: 130px;
    }
        .el-form-item__content{
            width: 100px;
        }
        .el_dialog_input2{
            margin-top: 20px;
        }
    /* 弹窗二 */
            /*  */
.dialog{
    z-index:1000;
    width:900px;
    height:480px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position:absolute;
    background-color: #eee;
    text-align:center;
    display:none;
    border-radius: 20px;
    right: 28%;
    top: 20%;
    }
    .tdCode a{
        text-decoration: none;
    }
    .pic{
        position: relative;
        border: 1px solid #eee;
        margin-left: 20px;
    }



    
    .omenu{
        position: relative;
        top: -270px;
        right: 20px;
    }
    .dialog_title{
        position: relative;
        top: 35px;
    }
    .oBorder1{
        width: 700px;
        height: 100px;
        position: relative;
        right: -40px;
        top: -50px;

    }
    .oBorder1_title{
        /* 借阅记录 */
        margin-top: 50px;
        font-size: 30px;
        /* 借阅记录 */

    }
    .oBorder1_edit{
        width: 800px;
        height: 100px;
        position: relative;
        right: -40px;
        /* 借阅记录 */
        font-size: 30px;
    }
    .oBorder2{
        width: 800px;
        height: 100px;
        position: relative;
        right: -40px;
        top: 40px;

    }

    .dialog_table_box1{
        position: relative;
        top: 60px;
    }
    .dialog_table_box2{
        position: relative;
        width: 100%;
        top: 100px;
    }
    .el-input{
        
        width: 200px; 
    }
    .dialog_table_box_btn{
        position: relative;
        width: 300px;
        height: 300px;
        /* background-color: gray; */
        top: 30px;
        left: 660px;
    }
    /* 弹窗一 */
    .transition-box div{
        color: black;
    }
     /*分页*/
     .block{
            /* position:relative;
            top: 60px;
            left: 10px; */
        }
    /* 分页 */
    
    /* .el-button_box{
        position:absolute;
        top: 20px;
        left: 20px;
    } */
/* 内容部分 */
</style>
</head>
<body>
    <div id="app">
            <!-- 结构部分 -->
            <!-- 头部导航栏 -->
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1"><a href="main_menu.html" style="font-size :20px;">主页面</a></el-menu-item>
                <el-menu-item index="2" @click="change_quote" style="font-size:30px;">{{quote}}</el-menu-item>
                    <span class="head_el_menu">
                        <el-submenu index="3">
                            <!-- <template slot="title">{{username}}</template> -->
                            <template slot="title">
                                <el-avatar icon="el-icon-user-solid"></el-avatar>
                            {{username}}
                            </template>
                            <!-- 个人信息修改
                            我的书架
                            借阅书籍——书籍详情
                            查阅书籍 
                            个人借阅历史-->
<!--                            <el-menu-item index="3-1"><a href="#" >个人信息</a></el-menu-item>-->
<!--                            <el-menu-item index="3-2"><a href="#" >我的书架</a></el-menu-item>-->
                            <el-menu-item index="3-3" @click="logoutDialogVisible=true" ><a href="#" >退出登录</a></el-menu-item>
                            
                        </el-submenu>
                    </span>
                    <!-- <el-menu-item index="3" disabled>消息中心</el-menu-item> -->
                
            </el-menu>
            <!-- 头部导航栏弹窗 -->
            <el-dialog
                title="注意"
                :visible.sync="logoutDialogVisible"
                width="30%"
                style="height:30%">
                    <span>是否退出登录</span>
                    <span slot="footer" class="dialog-footer" @click="logoutDialogVisible = false">
                    <el-button @click="logoutDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="logout">确 定</el-button>
            </el-dialog>
            <!-- 头部导航栏 -->
            <!-- 侧面导航栏 -->
            <el-row class="tac">
                <el-col :span="12">
                    <el-menu
                    default-active="2"
                    class="el-menu-vertical-demo"
                    @open="left_nav_handleOpen"
                    @close="left_nav_handleClose"
                    background-color="#96f0ca"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                   <el-submenu index="1">
                        <template slot="title">
                        <i class="el-icon-menu"></i>
                        <span>普通用户功能表</span>
                        </template>
                        <el-menu-item-group>
                        <template slot="title">功能列表</template>
                        <el-menu-item index="1-1"><a href="searchbook_user.html" >查阅书籍</a></el-menu-item>
                        <el-menu-item index="1-2"><a href="user_book.html" >我的书架</a></el-menu-item>
                        <!--<el-menu-item index="1-3"><a href="searchbook_user.html" >借阅书籍</a></el-menu-item>-->
                        <el-menu-item index="1-4"><a href="./information/user_information.html" >个人信息</a></el-menu-item>
                        <el-menu-item index="1-5"><a href="./history/History.html" >借阅历史</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- <el-submenu index="2">
                        <template slot="title">
                        <i class="el-icon-menu"></i>
                        <span>管理员功能表</span>
                        </template>
                        <el-menu-item-group>
                            <template slot="title">功能列表</template>
                            <el-menu-item index="2-1"><a href="User_list.html">用户列表</a></el-menu-item>
                            <el-menu-item index="2-2"><a href="./searchbook_admin.html" >图书借阅</a></el-menu-item>
                            <el-menu-item index="2-3"><a href="./announce.html" >公告管理</a></el-menu-item>
                            <el-menu-item index="2-4"><a href="./managebook_admin.html" >图书库</a></el-menu-item>
                            <el-menu-item index="2-5"><a href="./count.html" >图书借阅统计</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu> -->
                    <el-submenu index="3">
                        <template slot="title">
                        <i class="el-icon-menu"></i>
                        <span>操作标图</span>
                        </template>
                        <span></span>
                        <el-button @click="show2 = !show2" style="width: 100%;">隐藏操作表</el-button>
                    </el-submenu>
                    </el-menu>
                </el-col>
            </el-row>
            <!-- 侧面导航栏 -->
            <!-- 结构部分 -->
        <!-- 内容 -->
        <!-- -->
        
        <div>
            <!-- <div class="el-button_box">
            <el-button @click="show2 = !show2">显示数据</el-button>
            </div> -->
            <!-- 多选输入框查询 -->
            <div style="display: flex; height: 90px;">
                <transition name="el-zoom-in-top">
                    <div v-show="show2" class="transition-box" style="background-color: rgb(43, 187, 187);width: 1582px;height: 100%;padding:20px 20px;">
                        <el-row style="font-size: 27px;">
                            国家
                            <el-select v-model="mul_search.country" placeholder="请选择">
                                <el-option
                                v-for="item in binformationCountry"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                style="width: 215px;">
                                </el-option>
                            </el-select>
                            类型
                            <el-select v-model="mul_search.type" placeholder="请选择">
                                <el-option
                                v-for="item in binformationType"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                style="width: 215px;">
                                </el-option>
                            </el-select>
                            篇幅
                            <el-select v-model="mul_search.length" placeholder="请选择">
                                <el-option
                                v-for="item in binformationLength"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                style="width: 215px;">
                                </el-option>
                            </el-select>
                            主题
                            <el-select v-model="mul_search.topic" placeholder="请选择">
                                <el-option
                                v-for="item in binformationTopic"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                style="width: 215px;">
                                </el-option>
                            </el-select>
                            <el-button type="primary" @click="click_mul()">多选查询</el-button>
                        </el-row>
                    </div>
                </transition>
            </div>
            <!-- 输入框查询 -->
            <div style="display: flex;margin-top: 13px; height: 90px;">
                <transition name="el-zoom-in-center">
                    <div v-show="show2" class="transition-box" style="background-color: gainsboro;width: 1582px;height: 100%;padding:20px 20px;">
                        <el-row style="font-size: 30px; float: right;height: 80px;width: 100%;" >
                            <el-input
                                placeholder="请输入内容"
                                v-model="input_value"
                                clearable
                                style="width: 90%;">
                            </el-input>
                            <el-button type="primary" @click="click_search">查询</el-button>
                        </el-row>
                    </div>
                </transition>
            </div>
            <!-- 主要内容 -->
            <div style="display: flex;margin-top: 13px; height: 545px;;">
                <transition name="el-zoom-in-bottom">
                    <div v-show="show2" class="transition-box" style="background-color:gainsboro;width: 1582px;height: 100%;padding:20px 20px;">
                        <div class="bookhub">
                            <el-table :data="tableData" style="width: 100%" >
                                <el-table-column prop="bname" label="书名" width="680" ></el-table-column>
                                <el-table-column prop="onShelf" label="上架时间" width="350" ref="book_detail"></el-table-column>
                                <el-table-column prop="status" label="书籍情况" width="230" ref="book_detail"></el-table-column>
                                <el-table-column prop="address" label="操作" width="250">
                                    <template  slot-scope="scope">
                                        <el-button type="primary" icon="el-table-detail" @click="click_detail(scope.$index,scope.row)" @click="ref_display.display=block">查看</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </transition>
            </div>
            <!-- 分页 -->
            <div style="display: flex;margin-top: 13px; height: 70px;margin-bottom: 0px;">
                <transition name="el-zoom-in-top">
                    <div v-show="show2" class="transition-box" style="background: ghostwhite;width: 1582px;height: 100%;padding:20px 20px;margin-bottom: 0px;">
                        <div class="block">
                            <span class="demonstration"></span>
                            <!-- size-chage 每页显示——handleSizeChange -->
                            <!-- current-change改变当前页面——（需要默认修改） -->
                            <!-- current-page 下面页码数 -->
                            <!-- page-size个数选择器 -->
                            <!--  -->
                            <!-- total数据个数 -->
                            <!-- hide-on-single-page="value"隐藏/显示 -->
                            <div>
            
                            <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="pageSizes" 
                            :page-size="pageSize"
                            layout="prev, pager, next, jumper"
                            :total="totalCount"
                            >
                            </el-pagination>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
            <!-- 分页 -->
            <!-- 弹窗 -->
            <div class="dialog" ref="dialog_table">
                <div class="dialog_title">
                </div>
                <div class="dialog_table_box1">
                    <table  class="oBorder1" style="height: 320px;font-size: 30px;" >
                        
                        <tr>
                            <td>书名:《{{bname}}》</td>
                            <!--<td>剩余:{{available}}</td>
                            <td>借出数:{{unavailable}}</td>-->
                        </tr>
                        <tr><td style="float:left">简介:{{describes}}</td></tr>
                    </table>
                </div>

                <div class="dialog_table_box2">
                    <!--<el-table :data="available_table" style="width: 100%" >
                    <el-table-column prop="username" label="借阅人" width="200" ></el-table-column>
                    <el-table-column prop="start_date" label="借阅日期" width="100" ref="book_detail"></el-table-column>
                    <el-table-column prop="end_date" label="借阅时长"></el-table-column>
                    </el-table>-->
                    <el-button type="primary" icon="el-table-detail" @click="click_window_btn" style="background: white;color: black;">取消</el-button>

                    <el-button type="primary" icon="el-table-detail" @click="borrow_book" >借阅</el-button>
                </div>
                

            </div>
            <!-- 弹窗二添加-->
            
        </div>
        
    <!-- 内容 -->
    </div>
    <script>
        const app = new Vue({
            el:"#app",
            data() {
                return {
                    // 搜索多标签属性
                    mul_search:{
                        country:"",
                        type:"",
                        length:"",
                        topic:"",
                    },
                    // 搜索多标签属性
                    //修改书籍属性
                    change_book:{
                        country:"",
                        type:"",
                        length:"",
                        topic:"",
                        countshelf:"",
                        introduction:"",
                    },
                    //修改书籍属性
                    //添加书籍属性
                    add_book:{
                        country:"",
                        type:"",
                        length:"",
                        topic:"",
                        countshelf:"",
                        introduction:"",
                    },
                    //添加书籍属性
                    // 用户个人信息
                    login_id:"用户ID",
                    username:"用户操作",
                    password:"密码",
                    email:"邮箱",
                    age:"年龄",
                    birthday:"生日",
                    phone:"手机",
                    address:"地址",
                    gender:"性别",
                    describes:"描述",
                    //用户个人信息
                    // 书籍信息
                    bid:1,
                    bname:"",
                    country:"",
                    type:"",
                    available:"",
                    unavailable:"",
                    countshelf:"",
                    topic:"",
                    length:"",
                    introduction:"",
                    on_shelf:"上架时间",
                    status:"状态",
                    start_date:"开始日期",
                    end_date:"归还日期",
                    is_return:"是否已归还",
                    last_date:"剩余归还时间",
                    //书籍信息
                    //书籍信息弹窗
                    ref_display:'',
                    addFormVisible:false,
                    // dis:false,
                    dis:1,
                    available_table:[
                    {
                        bname: '莎士比亚没有士',
                        name: '莎比',
                        username: '莎比',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '生子当如孙仲谋,十万精兵送合肥',
                        name: '孙十万',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"

                    },
                    {
                        bname: '爱因斯坦不过如此',
                        name: '陈伟涛',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '42016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '52016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '62016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '72016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '只要你够丑',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '虎大佬比',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '虎大佬比',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '虎大佬比',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    }],
                    //书籍信息弹窗
                    //登录状态
                    user_status:"",
                    //分页——————————————
                    input_value:"",
                    //显示第几页
                    currentPage:1,
                    //总数据多少条
                    totalCount:1,
                    //选择条数
                    pageSizes:[1,2,3,4,5],
                    // 默认每页显示的条数
                    pageSize:7,
                    //是否显示值value
                    value:false,
                    //总页数
                    pageCount:2,
                    //分页————————————————————
                    //页面效果
                    logoutDialogVisible:false,
                    
                    activeIndex: '1',
                    activeIndex2: '1',
                    centerDialogVisible: false,
                    quote:"因依老宿发心初，半学修心半读书。——王建《寄旧山僧》",
                    quotes:['书以陶性情，诗以养静观————郭沫若《潮汐集·有赠》',
                        '田中读书慕尧舜，坐待四海升平年。——高启《练圻老人农隐》',
                    '因依老宿发心初，半学修心半读书。——王建《寄旧山僧》',
                    '粗缯大布裹生涯，腹有诗书气自华。——苏轼《和董传留别》',
                    '我闭南楼看道书，幽帘清寂在仙居。——李白《早秋单父南楼酬窦公衡》',
                    '奚童悄向舆夫语，莫典春衣又买书？——潘际云《厂桥》',
                    '窗间白发催愁境，烛底苍头劝读书。——汤显祖《正觉寺示弟儒祖》',
                    '萧索空宇中，了无一可悦！历览千载书，时时见遗烈。——陶渊明《癸卯岁十二月中作与从弟敬远》',
                    '地炉茶鼎烹活火，一清足称读书者。读书之乐何处寻？数点梅花天地心。——翁森《四时读书乐》',
                    '二客东南名胜，万卷诗书事业，尝试与君谋。——辛弃疾《水调歌头·舟次扬州和人韵》',
                    '书多笔渐重，睡少枕长新。——姚合《别贾岛》',
                    '书卷多情似故人，晨昏忧乐每相亲。——于谦《观书》',
                    '读书切戒在慌忙，涵泳工夫兴味长。——陆九渊《读书》',
                    '诗非易作须勤读，琴亦难精莫废弹。——刘克庄《赠玉隆刘道士》'],
                    //统计图数据
                    //效果
                    show2: false,
                    //
                    //统计图options: [{
                    value: '',
                    input_value:'',

                    //分页储存数据
                    tableData:[
                    {
                        bname: '莎士比亚没有士',
                        name: '莎比',
                        username: '莎比',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '生子当如孙仲谋,十万精兵送合肥',
                        name: '孙十万',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"

                    },
                    {
                        bname: '爱因斯坦不过如此',
                        name: '陈伟涛',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '42016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '52016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '62016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '72016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '只要你够丑',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '虎大佬比',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    }],
                    //分页临时存储
                    
                    textData:[
                    {
                        bname: '莎士比亚没有士',
                        name: '莎比',
                        username: '莎比',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '生子当如孙仲谋,十万精兵送合肥',
                        name: '孙十万',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '爱因斯坦不过如此',
                        name: '陈伟涛',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '42016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        on_shelf:"上架时间",
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '52016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '62016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        username: '莎比',
                        start_date:"开始时间",
                        end_date:"结束时间"
                    },
                    {
                        bname: '72016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '只要你够丑',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    },
                    {
                        bname: '虎大佬比',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄'
                    }],
                    //书籍信息国家弹窗
                    binformationCountry: [{
                        value: '所有国家',
                        label: '所有国家'
                        },{
                        value: '中国',
                        label: '中国'
                        }, {
                        value: '美国',
                        label: '美国'
                        }],
                    //书籍信息类型弹窗
                    binformationType: [{
                        value: '',
                        label: '所有类型'
                    },{
                        value: '文学',
                        label: '文学'
                    }, {
                        value: '工科',
                        label: '工科'
                    }],
                    //书籍信息篇幅弹窗
                    binformationLength: [{
                        value: '',
                        label: '所有篇幅'
                    }, {
                        value: 1,
                        label: '微型'
                    },
                        {
                        value: 2,
                        label: '短篇'
                    }, {
                        value: 3,
                        label: '中篇'
                    }, {
                        value: 4,
                        label: '长篇'
                    }],

                    binformationLengthChange: [ {
                             value: 1,
                             label: '微型'
                        },
                        {
                            value: 2,
                            label: '短篇'
                        }, {
                            value: 3,
                            label: '中篇'
                        }, {
                            value: 4,
                            label: '长篇'
                        }],


                    //书籍信息主题弹窗
                    binformationTopic: [{
                        value: '',
                        label: '所有主题'
                    }, {
                        value: '武侠',
                        label: '武侠'
                    }, {
                        value: '计算机',
                        label: '计算机'
                    }, {
                        value: '小说',
                        label: '小说'
                    },{
                        value: 'Java',
                        label: 'Java'
                    }],

            //书籍信息弹窗
                };
            },
            methods: {
                //头部导航栏点击
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                },
                change_quote(){
                    this.quote=this.quotes[(Math.random()*10).toFixed(0)];
                },
                //侧面导航栏打开
                left_nav_handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                //侧面导航栏关闭
                left_nav_handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                logout(){
                    axios
                        .get('user/logout',{
                        })
                        .then((res)=>{
                            console.log(res.data)
                            if (res.data.flag) {
                                location.href="main_entrance.html"
                            } else {
                                alert("退出失败");
                            }
                        })
                        .finally(()=>{console.log("获取搜索执行完毕");})
                },
                
                //点击查看详情
                click_detail(index,row){
                 /*   this.click_window_btn();
                    this.ref_display=this.$refs.dialog_table.style;*/
                    //交互
                    this.dis+=1;
                    let ref_display=this.$refs.dialog_table.style;
                    console.log(row.bname)
                    this.detail_list(row.bname);
                    if (this.dis%2==0) {
                        //显示
                        ref_display.display="block";
                    }else{
                        ref_display.display="none";
                    }

                },
                //详情交互
                detail_list(bname){
                    axios
                        .get('book/findByBnameOnlyOne',{
                            // 书名+ID
                            params: {
                                bname:bname
                            }
                        })
                        .then((res)=>{
                            //接收的内容
                            // available_table=res.Data;
                            this.bname=res.data.bname;
                            this.describes=res.data.introduction;
                        })
                        .finally(()=>{console.log("获取状态详情获取执行完毕");})
                    },
                //分页处理
                    //每页多少条
                    handleSizeChange(val=7) {
                        // console.log(`每页 ${val} 条`);
                        return val
                    },
                    //显示第几页
                    handleCurrentChange(val) {
                        this.currentPage=val
                        // console.log(this.currentPage);
                        this.handleData(this.textData);
                        return val
                    },
                    //分页处理
                    handleData(Data){
                        //返回当前页数，呈现的数据条
                        //清空tableData
                        this.tableData=[];
                        //数据长度返回给this
                        this.totalCount=Data.length;
                        // console.log(this.totalCount);
                        //判断textlist多少条——Data.length
                        this.pageCount= parseInt(Data.length/this.pageSize)+1;
                        //
                        //    pagecount= page Data.length/this.pageSize获取到页码数
                        if (this.pageCount== this.currentPage) {
                            console.log(this.tableData);
                            //最后一页判断需要输出多少位
                            //判断最后一页多少个
                            for (let index = 0; index < (Data.length%this.pageSize); index++) {
                                this.tableData.push(Data[((this.pageCount-1)*this.pageSize)+index])
                            }
                        }else{
                            //当前的页数
                            console.log(this.tableData);
                            for (let index = 0; index < this.pageSize; index++) {
                                this.tableData.push(Data[((this.currentPage-1)*this.pageSize)+index])                        
                            }
                    }
                    //前面的页码数直接输出7位
                    //
                    // this.handleSizeChange
                },
                //分页处理
                
                //图书库操作
                    //弹窗操作
                    click_window_btn(){
                        // console.log("111111111111111");
                        // console.log(this.dis);
                        //默认dis=0——不显示
                        this.dis=!this.dis;
                        if (this.dis) {
                            //显示
                            this.ref_display.display="block";
                        }else{
                            this.ref_display.display="none";
                        }
                    },
                    //查询交互
                        click_search(){
                        // 交互
                        // console.log(this.input_value);
                       axios
                            .get('../user/findUserBorrowHistoryByName',{
                                params:{
                                    bname:this.input_value
                                }
                            })
                            .then((res)=>{
                                for (let item in res.data) {
                                    res.data[item].startDate=new Date(res.data[item].startDate);
                                    let year=res.data[item].startDate.getFullYear();
                                    let month=res.data[item].startDate.getMonth()+1;
                                    let date=res.data[item].startDate.getDate();
                                    res.data[item].startDate=""+year+"-"+month+"-"+date;
                                    console.log(res.data[item].startDate);
                                }

                                this.textData=res.data;
                                // console.log(res.data);
                                this.handleData(this.textData);
                            })
                            .finally(()=>{console.log("获取搜索执行完毕");})
                    },
                    //多标签查询
                        click_mul(){
                            console.log(this.mul_search.length);
                            var lengthTem;
                            if (this.mul_search.length == '微型') {
                                lengthTem= 1;
                            } else if (this.mul_search.length== '短篇') {
                                lengthTem= 2;
                            } else if (this.mul_search.length == '中篇') {
                                lengthTem = 3;
                            } else if(this.mul_search.length == '长篇'){
                                lengthTem = 4;
                            }
                        axios
                            .get('book/findByCondition',{
                                params:{
                                    country:this.mul_search.country,
                                    type:this.mul_search.type,
                                    length:lengthTem,
                                    topic:this.mul_search.topic,
                                }
                            })
                            .then((res)=>{
                                this.tableData=res.data;
                                this.handleData(this.tableData);
                            })
                            .finally(()=>{console.log("提交执行完毕");})
                        },
                    //借阅交互
                        borrow_book(){
                            axios
                                .get('user/addBorrowHistory',{
                                    // 书名+ID
                                    params: {
                                        bname:this.bname
                                    }
                                })
                                .then((res)=>{
                                    if (res.data.flag) {
                                        alert("借阅成功");
                                        location.reload();
                                    } else {
                                        alert(res.data.msg);
                                        location.reload();
                                    }
                                })
                                .finally(()=>{console.log("获取状态详情获取执行完毕");})
                                this.click_window_btn();
                            },
                         // 列表交互
                        history_list(){
                            axios
                                .get('book/findAll',{
                                })
                                .then((res)=>{
                                    this.textData=res.data;
                                    console.log(res.data);
                                    this.handleData(this.textData);
                                })
                                .finally(()=>{console.log("获取历史表获取执行完毕");})
                        },

                //搜索国家/类型/篇幅/主题列表
                search_list(){
                    axios
                        .get('book/findCountry',{
                        })
                        .then((res)=>{
                            this.binformationCountry=res.data;
                        })
                        .finally(()=>{console.log("获取历史表获取执行完毕");});
                    axios
                        .get('book/findType',{
                        })
                        .then((res)=>{
                            this.binformationType=res.data;
                        })
                        .finally(()=>{console.log("获取历史表获取执行完毕");});
                    axios
                        .get('book/findLength',{
                        })
                        .then((res)=>{
                            this.binformationLength=res.data;
                        })
                        .finally(()=>{console.log("获取历史表获取执行完毕");});
                    axios
                        .get('book/findTopic',{
                        })
                        .then((res)=>{
                            this.binformationTopic=res.data;
                        })
                        .finally(()=>{console.log("获取历史表获取执行完毕");});
                },
            },
                //图书库操作
            mounted() {
                //页面效果函数
                let timer1 =setTimeout(()=>{this.show2=!this.show2},500)
                let timer2 =setInterval(()=>{this.change_quote()},10000)
                //图书库周期函数
                // this.handleData(this.tableData);
                this.history_list();
                this.search_list();
                this.handleData(this.tableData);
                // this.ref_display=this.$refs.dialog_table.style.display;
                this.ref_display=this.$refs.dialog_table.style;
            },
        })
    </script>
</body>
</html>