<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../css/login.css">

    
</head>
<body style="background: gainsboro url(../img/_202011261642055.jpg) no-repeat fixed center;">
    <div class="box" id = app>
        <h1 style="font-size: 50px">注册</h1>
        <div display=inline-black class="div" style="color: white;font-size: 30px">
            <span>登录ID:&nbsp&nbsp&nbsp&nbsp
                <input type="text" placeholder="登录ID" class="pwd" v-model="user_id" @keyup.enter="user_id_judge">
            </span>
            <!-- <span class="user_id_pass"> -->
                <!-- {{user_id_pass}} -->
            <!-- </span> -->
        </div>
        <div display=inline-black class="div" style="color: white;font-size: 30px">
            <span>姓名:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                
                <input type="text" placeholder="请输入注册姓名" class="pwd" v-model="user_name" @keyup.enter="user_name_judge">
            </span> 
            <!-- <span > -->
                <!-- {{user_name_pass}} -->
            <!-- </span> -->
        </div>
        <div display=inline-black class="div" style="color: white;font-size: 30px">
            <span>邮箱:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type=邮箱" placeholder="请输入邮箱" class="pwd" v-model="user_emil" @keyup.enter="user_emil_judge">
            </span> 
            <!-- <span > -->
                <!-- {{user_emil_pass}} -->
            <!-- </span> -->
        </div>
        <div display=inline-black class="div" style="color: white;font-size: 30px">
            <span>输入密码:
                <input type="password" placeholder="请输入密码" class="pwd" v-model="user_password" @keyup.enter="user_pwd_judge">
            </span> 
            <!-- <span > -->
                <!-- {{user_password_pass}} -->
            <!-- </span> -->
        </div>
        <div display=inline-black class="div" style="color: white;font-size: 30px">
            <span>确认密码:
                <input type="password" placeholder="确认密码" class="pwd" v-model="user_password_comfirm" @keyup.enter="user_pwd_comf_judge">
            </span> 
            <!-- <span > -->
                <!-- {{user_id_comfirm_pass}} -->
            <!-- </span> -->
        </div>
        <button @click="login()" style="font-size: 30px">注册</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
    var app = new Vue({
        el:"#app",
        data:()=>({
            user_id:'',
            user_name:'',
            user_emil:'',
            user_password:'',
            user_password_comfirm:'',
            register:"register",
            // user_id_pass:"未通过",
            // user_name_pass:"未通过",
            // user_emil_pass:"未通过",
            // user_password_pass:"未通过",
            // user_id_comfirm_pass:"未通过",
            err:""
            })
        ,  
        methods: {
            clickhandle(
                user_id,
                user_name,
                user_emil,
                user_password) {
                axios
                    .post('../user/register',
                    {
                        loginId:user_id,
                        username:user_name,
                        email:user_emil,
                        password:user_password
                    })
                    .then((res) => {
                        console.log(res);
                        if (res.data.flag) window.location.href="../login/user_login.html";
                        else {
                            alert(res.data.msg);
                        }
                        // 关键字改变，请求地址发生改变，接着把结果数据赋值给list[] 
                        this.list = res.data;
                    })
                    .finally(()=>{console.log("执行完成");})
            },
            login(){
                //id判断
                if (this.user_id == null || this.user_id == "") {
                    this.err += "登录ID不能为空" + "\n";
                } else if (!/^[a-zA-Z0-9]+$/
                    .test(this.user_id)) {
                    this.err += "ID只允许支持字母数字" + "\n";
                }else if(this.user_id.length>30){
                    this.err += "ID长度不多于30"+"\n"
                }
                //姓名判断
                if (this.user_name == null || this.user_name == "") {
                    this.err += "姓名不能为空" + "\n";
                } else if (!/^[\u4e00-\u9fa5]+$/
                    .test(this.user_name)) {
                    this.err += "姓名应全为汉字" + "\n";
                }else if(this.user_name.length>20){
                    this.err += "姓名长度不多于20"+"\n"
                }
                //邮箱判断
                var reg1 = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
                if (this.user_emil == null || this.user_emil == "") {
                    this.err += "邮箱不能为空" + "\n";
                } else if (!reg1.test(this.user_emil)) {
                    this.err += "邮箱格式不正确" + "\n";
                }else if(this.user_emil.length>30){
                    this.err += "邮箱长度不多于30"+"\n"
                }
                //密码判断
                var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9]).{8,30}');
                if (this.user_password == null || this.user_password == "") {
                    this.err += "密码不能为空" + "\n";
                } else if(this.user_password.length<8){
                    this.err += "密码长度不少于8"+"\n"
                }else if (!pwdRegex.test(this.user_password)) {
                    this.err += "密码需要大小字母，数字，特殊字符" + "\n";
                }else if(this.user_password.length>30){
                    this.err += "密码长度不多于30"+"\n"
                }
                //密码确认
                if (this.user_password!=this.user_password_comfirm) {
                    this.err += "密码不一致" + "\n";
                }
                if(this.err !=""){
                    alert(this.err);
                    // location.reload();
                    return false;
                }else{
                    this.clickhandle(
                        this.user_id,
                        this.user_name,
                        this.user_emil,
                        this.user_password
                        )
                    console.log("通过");
                }
            }
        }
    })


    </script>
</body>
</html>
